<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>778930682299-djp0713fermqgmh9grscdlev6g9p8s5b.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.778930682299-djp0713fermqgmh9grscdlev6g9p8s5b</string>
	<key>API_KEY</key>
	<string>AIzaSyBJ0h7K_Re7Yqx81ql9x23P2q8uzej7GiI</string>
	<key>GCM_SENDER_ID</key>
	<string>778930682299</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com-ios3-umn.uasProject</string>
	<key>PROJECT_ID</key>
	<string>uasproject-f634c</string>
	<key>STORAGE_BUCKET</key>
	<string>uasproject-f634c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:778930682299:ios:d2ce7d82b7c6d6a8</string>
	<key>DATABASE_URL</key>
	<string>https://uasproject-f634c.firebaseio.com</string>
</dict>
</plist>